In [1]:
for i in range(100):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [4]:
for i in range(1,100,2):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [5]:
for i in range 2.0:
    print(i)

SyntaxError: invalid syntax (<ipython-input-5-05c9789608de>, line 1)

In [6]:
for i in '':
    print(i)

In [7]:
for i in range(11,15,3):
    print(i)

11
14

In [15]:
def odd(a):
    if a%2==0:
        print("not odd")
    else:
        print("odd")

odd(45)

odd

In [27]:
def min(a,b):
    if(a>b):
        return b
    elif(a==b):
        return "the numbers are equal"
    else:
        return a
min(433,4657)

433

In [23]:
list = [1,"python", 5 ,"is", "awsome"]
print(list[1])

[]

In [32]:
def max(a,b):
    if(a>b):
        return a
    elif(a==b):
        return "the numbers are equal"
    else:
        return b
max(36553,63734)

63734

In [37]:
def priyank(r):
    volume= ((3/4)*3.141*r*r*r)
    return volume
priyank(8)

1206.144

In [3]:
marks = { "history":56, "geaography":45, "physics":89}
marks

{'history': 56, 'geaography': 45, 'physics': 89}

In [5]:
marks["maths"]=[79]
marks

{'history': 56, 'geaography': 45, 'physics': 89, 'maths': [79]}

In [6]:
marks.update({"civics":76,"biology":32})
marks

{'history': 56,
 'geaography': 45,
 'physics': 89,
 'maths': [79],
 'civics': 76,
 'biology': 32}

In [7]:
print(marks)

{'history': 56, 'geaography': 45, 'physics': 89, 'maths': [79], 'civics': 76, 'biology': 32}

In [12]:
del marks["biology"]
marks

{'history': 56, 'geaography': 45, 'physics': 89, 'maths': [79], 'civics': 76}